<button type="button" is="share-button" class="btn btn-primary round shadow fixed z-4" aria-label="Share" hidden="">
	<svg class="icon" height="20" width="20" fill="currentColor" aria-hidden="true" role="img">
		<use xlink:href="/img/icons.svg#public-share"></use>
	</svg>
</button>
