<aside id="sidebar" class="card shadow center">
	<button type="button" class="btn btn-primary" data-theme-set="auto">System Theme</button>
	<button type="button" class="btn btn-primary" data-theme-set="light">Light Theme</button>
	<button type="button" class="btn btn-primary" data-theme-set="dark">Dark Theme</button>
</aside>
